<h1>Tic Tac Toe</h1>

<table>
  <tr>
    <td (click)="playTurn(0, 0)">{{displayBoard[0][0]}}</td> <td (click)="playTurn(0, 1)">{{displayBoard[0][1]}}</td> <td (click)="playTurn(0, 2)">{{displayBoard[0][2]}}</td>
  </tr>
  <tr>
    <td (click)="playTurn(1, 0)">{{displayBoard[1][0]}}</td> <td (click)="playTurn(1, 1)">{{displayBoard[1][1]}}</td> <td (click)="playTurn(1, 2)">{{displayBoard[1][2]}}</td>      
  </tr>
  <tr>
    <td (click)="playTurn(2, 0)">{{displayBoard[2][0]}}</td> <td (click)="playTurn(2, 1)">{{displayBoard[2][1]}}</td> <td (click)="playTurn(2, 2)">{{displayBoard[2][2]}}</td>
  </tr>
</table>
